*{
    font-family: 'Mada', sans-serif;
    box-sizing: border-box;
}
#value_form {
    box-sizing: border-box;
    border:5px dotted #5C4C3C;
    border-radius:50px;
    margin-bottom:5%;
    margin-left:15%;
    width:70%;
}
#all {
    display:gird;
    place-items:center;
    margin:1%;
    border:5px double #5C4C3C;
}
h1 {
    padding:7px;
    text-align:center;
}
body {
    height:100vh;
    width:100vw;
    margin:0%;
    display:grid;
    place-items:center;
    text-align: center;
    padding:0%;
    background-color:#E7DEDA;
    font-family: 'Gloria Hallelujah', cursive;
}
#value {
    margin:3%;
    width: 50%;
    border: 3px dotted #cca474;
    border-radius: 25px;
    font-size:150%;
}
#page {
    width:90%;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 50px;
    border:2px double #cca474;
}
#b {
    margin-bottom:3%;
    display: inline-block;
    border-radius: 4px;
    background-color: #CCA474;
    border: none;
    font-family: 'Gloria Hallelujah', cursive;
    color: #000;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
